@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* thead,
tfoot {
  background-color: rgb(228 240 245);
} */

/* th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
} */

.home{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3cpath d='M20 300L320 0L588.5 0L288.5 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1037%26quot%3b)'%3e%3c/path%3e%3cpath d='M241.60000000000002 300L541.6 0L612.1 0L312.1 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1037%26quot%3b)'%3e%3c/path%3e%3cpath d='M506.20000000000005 300L806.2 0L1038.7 0L738.7 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1037%26quot%3b)'%3e%3c/path%3e%3cpath d='M737.8000000000001 300L1037.8000000000002 0L1162.3000000000002 0L862.3000000000001 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1037%26quot%3b)'%3e%3c/path%3e%3cpath d='M1431 300L1131 0L871.5 0L1171.5 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1038%26quot%3b)'%3e%3c/path%3e%3cpath d='M1171.4 300L871.4000000000001 0L620.9000000000001 0L920.9000000000001 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1038%26quot%3b)'%3e%3c/path%3e%3cpath d='M918.8 300L618.8 0L572.3 0L872.3 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1038%26quot%3b)'%3e%3c/path%3e%3cpath d='M683.1999999999999 300L383.19999999999993 0L188.19999999999993 0L488.19999999999993 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1038%26quot%3b)'%3e%3c/path%3e%3cpath d='M1230.9372681357167 300L1440 90.93726813571678L1440 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1037%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 300L209.06273186428322 300L 0 90.93726813571678z' fill='url(%26quot%3b%23SvgjsLinearGradient1038%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1037'%3e%3cstop stop-color='rgba(228%2c 228%2c 231%2c 0.6)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(228%2c 228%2c 231%2c 0.6)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1038'%3e%3cstop stop-color='rgba(228%2c 228%2c 231%2c 0.6)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(228%2c 228%2c 231%2c 0.6)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1090%26quot%3b)' fill='none'%3e%3cpath d='M24 300L324 0L492 0L192 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1091%26quot%3b)'%3e%3c/path%3e%3cpath d='M255.60000000000002 300L555.6 0L630.6 0L330.6 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1091%26quot%3b)'%3e%3c/path%3e%3cpath d='M513.2 300L813.2 0L984.2 0L684.2 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1091%26quot%3b)'%3e%3c/path%3e%3cpath d='M738.8000000000001 300L1038.8000000000002 0L1149.8000000000002 0L849.8000000000001 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1091%26quot%3b)'%3e%3c/path%3e%3cpath d='M1439 300L1139 0L968 0L1268 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1092%26quot%3b)'%3e%3c/path%3e%3cpath d='M1179.4 300L879.4000000000001 0L553.9000000000001 0L853.9000000000001 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1092%26quot%3b)'%3e%3c/path%3e%3cpath d='M926.8 300L626.8 0L580.3 0L880.3 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1092%26quot%3b)'%3e%3c/path%3e%3cpath d='M688.1999999999999 300L388.19999999999993 0L122.69999999999993 0L422.69999999999993 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1092%26quot%3b)'%3e%3c/path%3e%3cpath d='M1244.4892518168476 300L1440 104.48925181684763L1440 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1091%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 300L195.51074818315237 300L 0 104.48925181684763z' fill='url(%26quot%3b%23SvgjsLinearGradient1092%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1090'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1091'%3e%3cstop stop-color='rgba(228%2c 228%2c 231%2c 0.78)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(228%2c 228%2c 231%2c 0.78)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1092'%3e%3cstop stop-color='rgba(228%2c 228%2c 231%2c 0.78)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(228%2c 228%2c 231%2c 0.78)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1093%26quot%3b)' fill='none'%3e%3cpath d='M24 300L324 0L492 0L192 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1094%26quot%3b)'%3e%3c/path%3e%3cpath d='M255.60000000000002 300L555.6 0L630.6 0L330.6 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1094%26quot%3b)'%3e%3c/path%3e%3cpath d='M513.2 300L813.2 0L984.2 0L684.2 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1094%26quot%3b)'%3e%3c/path%3e%3cpath d='M738.8000000000001 300L1038.8000000000002 0L1149.8000000000002 0L849.8000000000001 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1094%26quot%3b)'%3e%3c/path%3e%3cpath d='M1439 300L1139 0L968 0L1268 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1095%26quot%3b)'%3e%3c/path%3e%3cpath d='M1179.4 300L879.4000000000001 0L553.9000000000001 0L853.9000000000001 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1095%26quot%3b)'%3e%3c/path%3e%3cpath d='M926.8 300L626.8 0L580.3 0L880.3 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1095%26quot%3b)'%3e%3c/path%3e%3cpath d='M688.1999999999999 300L388.19999999999993 0L122.69999999999993 0L422.69999999999993 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1095%26quot%3b)'%3e%3c/path%3e%3cpath d='M1244.4892518168476 300L1440 104.48925181684763L1440 300z' fill='url(%26quot%3b%23SvgjsLinearGradient1094%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 300L195.51074818315237 300L 0 104.48925181684763z' fill='url(%26quot%3b%23SvgjsLinearGradient1095%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1093'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1094'%3e%3cstop stop-color='rgba(228%2c 228%2c 231%2c 0.57)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(228%2c 228%2c 231%2c 0.57)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1095'%3e%3cstop stop-color='rgba(228%2c 228%2c 231%2c 0.57)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(228%2c 228%2c 231%2c 0.57)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.home-categories{
  background-image: linear-gradient(to left, transparent, white 50%, white),url("./../../public/bg-dots.svg");
  /* background-size: cover; */
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 351 95% 71%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 210 40% 98%;
    --neutral: 210 40% 96.1%;
    --neutral-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --prose: 217 19% 27%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}